body {
	font: normal 110%/1.4 Georgia, serif;
	color : #4c434e;
}

header {
	text-align: center;
	background: #f6f6f6;
}

body > header {
	background: -moz-linear-gradient(top,  #fbfbfb 0%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbfbfb 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbfbfb 0%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbfbfb 0%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbfbfb 0%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.next-edition header {
	padding: 1em 0;
}

h1, h2, h3 {
	font-family: 'Lato', sans-serif;
	color: #655d67;
	margin: 1em 0 0;
}

h3 {
	font-size: 150%;
}

h3 + p {
	margin-top: 0;
} 

a {
	color: #db2293;
}

a:hover {
	text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

footer {
	border-top: 1px solid #eee;
	padding: 1em;
	text-align: center;
}

.container {
	max-width: 45em;
	margin : 0 auto;

}

.bigger {
	font-size: 120%;
}

.btn {
	display: inline-block;
	background: rgba(219, 34, 147, 0.8);
	color: #fff;
	padding: .5em 1em;
}

.btn:hover {
	background: rgb(219, 34, 147);
}